<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.suyuesheng.spring7.mapper.UserMapper">
    <cache
            eviction="FIFO"
            flushInterval="60000"
            size="512"
            readOnly="true"/>
    <resultMap id="userMap" type="user">
        <result property="uId" column="uid"/>
        <result property="userName" column="username"/>
    </resultMap>
    <select id="findAll" resultType="user">
        select * from User
    </select>

    <select id="findById" resultType="user" parameterType="_int">
        select * from User
        <where>
            <if test="uId!=null">
                uid=#{uId}
            </if>
        </where>
    </select>

    <insert id="insert" parameterType="user">
        insert into User
        <choose>
            <when test="uId==null">
                (username, password, status, code, date,email)
                values(#{userName},#{password},#{status},#{code},#{date},#{email})
            </when>
            <when test="uId!=null">
                (uid, username, password, status, code, date,email)
                values(#{uId},#{userName},#{password},#{status},#{code},#{date},#{email})
            </when>
        </choose>
    </insert>

    <update id="updateActive" parameterType="string">
        update User
        <set>
            <if test="code!=null">
                status='Y'
            </if>
        </set>
        <where>
            <if test="code!=null">
                code=#{code}
            </if>
        </where>
    </update>

    <select id="findByCode" parameterType="string" resultType="user">
        select * from User
        <where>
            <if test="code!=null">
                code=#{code}
            </if>
        </where>
    </select>

    <select id="findByName" parameterType="string" resultType="user">
        select * from User
        <trim prefix="WHERE" prefixOverrides="AND |OR">
            <if test="username!=null">
                username=#{username}
            </if>
        </trim>
    </select>
</mapper>